

 <!-- <app-header></app-header>


<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="'300px'" >
    <app-custom-sidenav />
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


 -->


 @if (isAuthenticated) {
  <app-header></app-header>
  <mat-sidenav-container>
    <mat-sidenav opened mode="side" [style.width]="'300px'">
      <app-custom-sidenav />
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
} @else {
  <router-outlet></router-outlet>
}